In [1]:
%load_ext sql
%sql postgresql://dssg_student:password@seds-sql.csya4zsfb6y4.us-east-1.rds.amazonaws.com/dssg2016

'Connected: dssg_student@dssg2016'

In [2]:
# from IPython.utils.path import locate_profile
#cm = ConfigManager(profile_dir=locate_profile(get_ipython().profile))
#cm.update('notebook', {"load_extensions": {"livereveal/main": True}})

In [3]:
# rom notebook.services.config import ConfigManager



### Introduction to Databases with SQL


####  Valentina Staneva

#### eScience Institute

#### vms16@uw.edu

11/30/2016

### Plan for Today:
* quickly overview functionality of databases and SQL
* learn fundamental SQL commands by exploring a Seattle Crime Dataset


Data source: http://www.seattle.gov/seattle-police-department/crime-data/spd-data-sets 

Lesson source: https://github.com/valentina-s/SQL_tutorial/

### Why Databases???

* data you need is in a public database
* you want to make your data easily accessible
* you can manage the security permissions of the data
* computational load is on the server side
* you cannot load data into RAM
* certain operations are optimized in a database
* you can implement efficient scalable algorithms in a database

### What is a Database? 

*"A database system is basically a computerized recordkeeping system -- that is, a system whose overall purpose is to maintain information and to make that information available on demand."* (Date 1986) 



* conventional databases use the _relational_ data model
* non-relational databases (noSQL, mongoDB)

<img src='images/terminology.png' width = 900px>

### Relational Data Model:
* data are structured into row/column format 

| crimesID | Offense type | Offense code | Date | Location | 
| ---- | ---- | ----- | ---- | ---- | ---- |
|  1 | tresspass | 5700 | 2015-01-28 09:30:00 |  12XX Block of E Pike St |
|  2 |larceny-theft | 2300 |2015-02-21 08:24:21 |  15XX Block of Aurora St |

* each record has a unique identifier (primary key)

### What is SQL? 
Structured Query Language 
* Domain-Specific Programming Language
* not Turing Complete (cannot build a robot which can follow any instruction :()

But great for data manipulation!!!

And human-readable!!!

###  Creating a Table:

```SQL
CREATE TABLE seattlecrimesincidents 
    ("crimesID" int,
     "Offense type" character,
     "Offense code" int,
     "Date" timestamp,
     "Location" character); 
```

| crimesID | Offense type | Offense code | Date | Location | 
| ---- | ---- | ----- | ---- | ---- | ---- |
|   |   |   |   |   |

* populating the database records:
```SQL
INSERT INTO seattlecrimeincidents VALUES

    (1,'trespass', 5700,'2015-01-28 09:30:00','12XX Block of E Pike St'),
    
    (2,'larceny-theft',2300, '2015-02-21 08:24:21','15XX Block of Aurora St');
```

| crimesID | Offense type | Offense code | Date | Location | 
| ---- | ---- | ----- | ---- | ---- | ---- |
|   1 | tresspass | 5700 | 2015-01-28 09:30:00 | 12XX Block of E Pike St |
|   2 | larceny-theft | 2300 |  2015-02-21 08:24:21 | 15XX Block of Aurora St |

### Data in each column must be of the same type

Some common [data types](https://www.postgresql.org/docs/9.4/static/datatype.html):
<br>
<div class="TABLE">
    <a name="DATATYPE-TABLE" id="DATATYPE-TABLE"></a>

<small>
    <table class="CALSTABLE" border="1">
      <colgroup><col>
      <col>
      <col>

      <thead>
        <tr>
          <th>Name</th>

          <th>Aliases</th>

          <th>Description</th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td><tt class="TYPE">boolean</tt></td>

          <td><tt class="TYPE">bool</tt></td>

          <td>logical Boolean (true/false)</td>
        </tr>

        <tr>
          <td><tt class="TYPE">character [(<tt class="REPLACEABLE c4">n</tt>)]</tt></td>

          <td><tt class="TYPE">char [(<tt class="REPLACEABLE c4">n</tt>)]</tt></td>

          <td>fixed-length character string</td>
        </tr>

        <tr>
          <td><tt class="TYPE">date</tt></td>

          <td>&nbsp;</td>

          <td>calendar date (year, month, day)</td>
        </tr>

        <tr>
          <td><tt class="TYPE">double precision</tt></td>

          <td><tt class="TYPE">float8</tt></td>

          <td>double precision floating-point number (8 bytes)</td>
        </tr>

        <tr>
          <td><tt class="TYPE">integer</tt></td>

          <td><tt class="TYPE">int</tt>, <tt class="TYPE">int4</tt></td>

          <td>signed four-byte integer</td>
        </tr>

        <tr>
          <td><tt class="TYPE">json</tt></td>

          <td>&nbsp;</td>

          <td>JSON data</td>
        </tr>


        <tr>
          <td><tt class="TYPE">money</tt></td>

          <td>&nbsp;</td>

          <td>currency amount</td>
        </tr>

        <tr>
          <td><tt class="TYPE">timestamp [(<tt class="REPLACEABLE c4">p</tt>)] [ without time zone
          ]</tt></td>

          <td>&nbsp;</td>

          <td>date and time (no time zone)</td>
        </tr>

        <tr>
          <td><tt class="TYPE">xml</tt></td>

          <td>&nbsp;</td>

          <td>XML data</td>
        </tr>
      </tbody>
    </table>
  </div>

### NULL values

* missing data are a common feature of many datasets
* here the code for "tresspass" is not known so the data entry is "X"

| crimesID | Offense type | Offense code | Date | Location | 
| ---- | ---- | ----- | ---- | ---- | ---- |
|    1 |  tresspass |  X |   2015-01-28 09:30:00 |   12XX Block of E Pike St |
|    2 |   burglary |   5710 |   2015-01-28 09:30:00 |   12XX Block of E Pike St |
|    3 |  larceny-theft |  2300 |   2015-02-21 08:24:21 |   15XX Block of Aurora St |

### NULL values
* conventionally, some value is used to represent missing data (e.g. "X" or -9999) 
* relational databases introduced NULL values:
    * NULL is a state representing a lack of a value
    * NULL is not the same as zero!
    * NULL values are ignored in SELECT statements

### [Normalization](https://en.wikipedia.org/wiki/Database_normalization)

* minimize redundancy

#### Example: multiple offenses at the same time 

| crimesID | Offense type | Offense code | Date | Location | 
| ---- | ---- | ----- | ---- | ---- | ---- |
|  1 | tresspass and burglary | 5700 and 5710 | 2015-01-28 09:30:00 | 12XX Block of E Pike St |
|  2 | larceny-theft | 2300 |  2015-02-21 08:24:21 | 15XX Block of Aurora St |

####  INCORRECT: database will have problems searching these columns

#### Solution: create another row

| crimesID | Offense type | Offense code | Date | Location | 
| ---- | ---- | ----- | ---- | ---- | ---- |
|    1 |  tresspass |  5700 |   2015-01-28 09:30:00 |   12XX Block of E Pike St |
|    2 |   burglary |   5710 |   2015-01-28 09:30:00 |   12XX Block of E Pike St |
|    3 |  larceny-theft |  2300 |   2015-02-21 08:24:21 |   15XX Block of Aurora St |

### Selecting Rows:


```SQL
SELECT * 
   FROM seattlecrimeincidents 
   WHERE "Offense code" = 5700;
```

* use a "WHERE" clause to select specific rows

| crimesID | Offense type | Offense code | Date | Location | 
| ---- | ---- | ----- | ---- | ---- | ---- |
|  1 | tresspass | 5700 | 2015-01-28 09:30:00 |  12XX Block of E Pike St |

### Selecting Columns:


```SQL
SELECT "Offense type", "Date" 
   FROM seattlecrimeincidents;
```

* use a comma separated list to select specific columns


| Offense type | Date | 
| ---- | ---- |
| tresspass |  2015-01-28 09:30:00 | 
| larceny-theft | 2015-02-21 08:24:21 |

### Elementwise Functions on Columns

#### Example:
* use a function to extract a subset of a date (e.g. year, hour) from a column with type = "timestamp"

In [4]:
%%sql
SELECT "Date Reported", date_part('hour', "Date Reported")
FROM seattlecrimeincidents
LIMIT 5;

5 rows affected.

[(datetime.datetime(2015, 1, 26, 13, 25), 13.0),
 (datetime.datetime(2015, 1, 29, 14, 32), 14.0),
 (datetime.datetime(2015, 1, 22, 4, 35), 4.0),
 (datetime.datetime(2015, 1, 17, 1, 21), 1.0),
 (datetime.datetime(2015, 2, 2, 6, 48), 6.0)]

### Aggregate Functions on Columns
* examples: SUM(), MAX(), MIN(), AVG(), COUNT(), STDDEV()

### Data Analysis:
* databases have powerful methods for analyzing data
* one of the most common tasks: applying statistics across groups
* to accomplish this we need to learn 
    * how to GROUP sets of data
    * how to apply statistical functions to those groups

| crimesID |  Offense code | Date | Location | Damage | 
| ---- |  ----- | ---- | ---- | ---- | ---- |
|    1 | 5700 |   2015-01-28 09:30:00 |   12XX Block of E Pike St |  \$1,220 | 
|    1 | 5700 |   2015-02-12 03:25:00 |   1XX Block of Aloha St |  \$11,420 |
|    2 |   5710 |   2015-01-28 09:30:00 |   12XX Block of E Pike St |  \$5,389 |
|    2 |   5710 |   2015-1-02 12:31:20 |   12XX Block of E Pine St |  \$15,231 |
|    3 |  2300 |   2015-02-21 08:24:21 |   15XX Block of Aurora St |  \$2,405 |

## Q: *What is the total damage that occurred for each offense type?*

* data grouped by "Offense code":

| crimesID |  Offense code | Date | Location | Damage | 
| ---- |  ----- | ---- | ---- | ---- | ---- |
|    1 | 5700 |   2015-01-28 09:30:00 |   12XX Block of E Pike St |  \$1,220 | 
|    2 | 5700 |   2015-02-12 03:25:00 |   1XX Block of Aloha St |  \$11,420 |
|    |    |    |    |    |
|    3 |   5710 |   2015-01-28 09:30:00 |   12XX Block of E Pike St |  \$5,389 |
|    4 |   5710 |   2015-1-02 12:31:20 |   12XX Block of E Pine St |  \$15,231 |
|    |    |    |    |    |
|    5 |  2300 |   2015-02-21 08:24:21 |   15XX Block of Aurora St |  \$2,405 |

* data grouped by "Offense code":

<img src = 'images/groupedTable.png' width = 800>

```SQL
SELECT SUM("Damage") 
   FROM seattlecrimeincidents
   GROUP BY "Offense code";
```

| Offense code | totalDamage | 
|   ---- | ---- |
|  5700  | \$12,640 | 
|  5710 | \$20,620 |
|  2300  | \$2,405 |

### Column Aliasing:
* often we want to rename newly generated columns:

In [5]:
%%sql
SELECT "Date Reported", date_part('hour', "Date Reported") AS "reported hour"
FROM seattlecrimeincidents
LIMIT 5;

5 rows affected.

[(datetime.datetime(2015, 1, 26, 13, 25), 13.0),
 (datetime.datetime(2015, 1, 29, 14, 32), 14.0),
 (datetime.datetime(2015, 1, 22, 4, 35), 4.0),
 (datetime.datetime(2015, 1, 17, 1, 21), 1.0),
 (datetime.datetime(2015, 2, 2, 6, 48), 6.0)]

### Joining Tables
* well designed databases distribute data across multiple tables, for efficiency
* then we can JOIN data between tables as needed

<img src = 'images/joinTables.png' width = 800px>

### Database Implementation:

* there are many relational database software implementations:
   * commercial: Oracle, Microsoft SQL Server, IBM DB2 
   * open source: MySQL, PostgreSQL

* Deployment
   * most databases are deployed on a server 
   * can run locally for testing

### Database Interface:

* databases are accessed via a _connection string_:
   * hostname, port, user, password
* one can connect through 
    * command line
    * GUI apps (pg_admin, MySQL Workbench, DB Visualizer)
    * Python, R, etc.

## What steps would you use to answer the following questions:
<br>
### 1) How many "TRESPASS" offenses occurred in total?
<br>
### 2) What is the most common crime in the dataset?
<br>
### 3) Which census track has the highest crime rate?
<br>
### 4) What is the most common crime within 1 km of my house?
<br><br>
<small>Data source: "SeattleCrimeIncidents.csv" or http://www.seattle.gov/seattle-police-department/crime-data/spd-data-sets