### Seattle Crime Data

---
### Connect to a database

We will first load the SQL extension:

In [ ]:
%load_ext sql

We will connect to a database which lives on AWS. The format for connecting to a database is:

`database_type://username:password@host/database_name`

Also, each sql command requires to begin with the magic `%sql`.

In [ ]:
%sql postgresql://dssg_student:password@seds-sql.csya4zsfb6y4.us-east-1.rds.amazonaws.com/dssg2016

The tables in the database which we are interested in are:
    * seattlecrimenincidents
    * census_data

Let's look at the data! We can view the first 10 columns of a table:

In [ ]:
%sql select * from seattlecrimeincidents limit 10

In [ ]:
%sql select * from census_data limit 10

In [ ]:
%%sql
select "Offense Type" from seattlecrimeincidents
limit 10;

Count the number of rows:

In [ ]:
%%sql

select distinct "Offense Type" from seattlecrimeincidents

In [ ]:
%%sql
SELECT count(*) FROM seattlecrimeincidents;

### Applying Functions along Columns

Find the range of latitude and longitude coordinates:

In [ ]:
%%sql
SELECT min(longitude), max(longitude),min(latitude),max(latitude) FROM seattlecrimeincidents;

Calculate number of all TRESPASS crimes:

In [ ]:
%%sql

SELECT count(*) FROM seattlecrimeincidents WHERE "Offense Type" = 'TRESPASS';

---
### Selecting Rows

Count of the bike thefts in the month of january

In [ ]:
%%sql
SELECT * FROM seattlecrimeincidents
	WHERE "Offense Type" = 'THEFT-BICYCLE' and month = 1
    LIMIT 10;

In [ ]:
%%sql
SELECT count(*) FROM seattlecrimeincidents
	WHERE "Offense Type" = 'THEFT-BICYCLE' and month = 1;

---
### Grouping

Count how many offenses are for each Offense Type

In [ ]:
%%sql
select "Offense Type",count(*) from SeattleCrimeIncidents
	group by "Offense Type" order by count DESC;

Note: for homicide we see there are a lot of types of homicides -> use summarized offense description

In [ ]:
%%sql

select distinct "Summarized Offense Description" from seattlecrimeincidents

Count how many offenses are for each Summarized Offense Description:

In [ ]:
%%sql
select "Summarized Offense Description", count(*) from SeattleCrimeIncidents
	group by "Summarized Offense Description"
    ORDER BY count DESC
    limit 10;

How many crimes per year?

In [ ]:
%%sql
select year, count(*) from SeattleCrimeIncidents
group by year;

How many crimes for each month?

In [ ]:
%%sql
SELECT month,count(*) FROM seattlecrimeincidents 
    GROUP BY month 
    ORDER BY month ASC;

Which month is with highest number of bike thefts?

In [ ]:
%%sql
SELECT month,count(*) FROM seattlecrimeincidents
	WHERE "Offense Type" = 'THEFT-BICYCLE'
	GROUP BY month
	ORDER BY count DESC;

How many crimes per census tract?

In [ ]:
%%sql
SELECT "census tract 2000",count(*) FROM seattlecrimeincidents
	group by "census tract 2000"
	ORDER BY count DESC
    LIMIT 10;

idea of nesting and aliasing

Let's add better column names:

In [ ]:
%%sql
SELECT "census tract 2000" as "CensusTract",count(*) as "crime_count" FROM seattlecrimeincidents
	group by "census tract 2000"
	ORDER BY "census tract 2000" DESC
    LIMIT 10;

### Nesting

We cannot simply store the table as a variable, but we can apply several transformations on it by nesting queries.

Extracting the max:

In [ ]:
%%sql
SELECT "census tract 2000" as "CensusTract",count(*) as "crime_count" FROM seattlecrimeincidents
	group by "census tract 2000"
    limit 10;

In [ ]:
%%sql
SELECT max(crimeTable.crime_count) FROM 
    (SELECT "census tract 2000" as "CensusTract",count(*) as "crime_count" FROM seattlecrimeincidents
    group by "census tract 2000") as crimeTable;

### Combining Tables

table: tract | crime_count

In [ ]:
%%sql 

SELECT round("census tract 2000"),count(*) FROM seattlecrimeincidents
	group by "census tract 2000"
	ORDER BY "census tract 2000" ASC
    LIMIT 10;

 table: tract | population

In [ ]:
%%sql
SELECT "Census Tract","Total Population, 2010" as population from census_data
	ORDER BY "Census Tract" ASC;

Joining the tables!

In [ ]:
%%sql
SELECT crimeTable.CT,cast(crimeTable.count as float)/censusTable.population as crime_rate from
	(select round("census tract 2000") as CT, count(*) as count from SeattleCrimeIncidents group by "census tract 2000") as crimeTable,
    (select "Total Population, 2010" as population,"Census Tract" as CT from census_data) as censusTable
    WHERE crimeTable.CT = censusTable.CT order by "crime_rate" DESC
    LIMIT 10;

Joining using the JOIN command:

In [ ]:
%%sql
select crimeTable.CT,cast(crimeTable.count as float)/censusTable.population as crime_rate from 
	(select round("census tract 2000") as CT, count(*) as count from SeattleCrimeIncidents group by "census tract 2000") crimeTable
    join 
    (select "Total Population, 2010" as population,"Census Tract" as CT from census_data) censusTable
    on crimeTable.CT = censusTable.CT order by "crime_rate" DESC
    LIMIT 10;